/*
Couleurs Groupomania
#d1515a : Red
#091f43 : Blue
#dcdcdc : Grey
*/

.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat';
  font-weight: bold;
}

body {
  font-family: 'Montserrat';
  background-color: #dcdcdc;
  margin: 0;
}

/* Footer */

.downBar {
  width: 100%;
  height: 4vh;
  background-color: #091f43;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.FooterLogo {
  width: 10em;
  height: auto;
  padding-left: 15px;
}

.downBar p {
  padding-right: 15px;
}

/* End of Footer */

/* navBar */

.navbar {
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  width: 100%;
  height: 6vh;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  padding-top: 9px;
  padding-bottom: 9px;
}

.logoNavBar {
  width: 8vh;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
}

.navbar .loggedInContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 15px;
}

.loggedInContainer .loginbtn {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 6vw;
  height: 6.3vh;
}

.loggedInContainer .loginbtn:hover {
  color: #091f43;
}

.navbar a {
  text-decoration: none;
  font-size: 2.6vh;
  color: black;
}

.navbar a:hover {
  color: #d1515a;
}

/* End of Navbar */

/* Post */

.middle {
  width: 30vw;
  

}

.listofposts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  width: 100%;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 50vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  margin-bottom: 5vh;
}

.thumbnail {
  width: 45vw;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border: 1px solid gray;
}


.post .title {
  flex: 20%;
  background-color: white;
  display: grid;
  place-content: left;
  color: #091f43;
  padding-top: 30px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
  
}

.post a {
  text-decoration: none;
  color: #091f43;
  font-size: 15px;
}

.post .body {
  flex: 60%;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #091f43;
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

}

.image {
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
}


.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: space-between;
  justify-content: flex-end;
  padding-left: 15px;
  background-color: white;
  color: #091f43;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.commIcon:hover {
  color: #d1515a;
}

.likes:hover {
  color: #d1515a;
}

/* End of Post */

/* Homepage */


/* End of Homepage */

/* Single Post and Comment */

.postPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 50px;
}

#individual {
  display: flex;
  width: 100%; 
}

.singleThumbnail {
  width: 50vw
}

.listOfComments {
  
  padding-right: 10px;
}

.commentTitle {
  font-weight: bold;
}

.comment label {
  color: black;
  font-size: 13px;
}

.comment p {
  color: black;
  background-color: #dcdcdc;
  border-radius: 45px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
  margin-right: 10px;
}

.deleteBtn {
  font-family: 'Montserrat';
  font-size: 10px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 120px;
  height: 30px;
  margin-left: 150px;
  margin-bottom: 17px;
}

.deleteBtn:hover {
  color: #091f43;
  cursor: pointer;
}

.postPage .downSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  
}

.postComment .body {
  display: flex;
  flex-direction: row;
  gap: 18px;

}

.downSide .commentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.addCommentContainer .commentField {
  font-family: 'Montserrat';
  width: 28vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  border: 1px solid lightgray;
  padding: 10px;
}

.downSide button {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 150px;
  height: 50px;
  margin-left: 20px;
  margin-right: 30px;
}

.downSide button:hover {
  color: #091f43;
  cursor: pointer;
}

.footer button {
  font-family: 'Montserrat';
  font-size: 10px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 120px;
  height: 30px;
}

.footer button:hover {
  color: #091f43;
  cursor: pointer;
}

/* End of Single Post and Comment */

/* Create Post */

.createPostPage p {
  color: #091f43;
  font-size: 20px;
  font-weight: bold;
}

.inputCreatePost {
  font-family: 'Montserrat';
  width: 40vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px;
} 

.createPost {
  
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.sendImg {
  font-family: 'Montserrat';
  color:#091f43;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btnCreatePost {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 17px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 150px;
  height: 50px;
  margin-left: 220px;
  margin-bottom: 100px;
}

.btnCreatePost:hover {
  color: #091f43;
  cursor: pointer;
}

/* End of Create Post */

/* Profile */

.accountInfoTitle {
  margin-top: 50px;
}

.accountInfo {
  display: flex;
  gap: 12px;;
}

.accountInfo button {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 165px;
  height: 50px;
  margin-bottom: 100px;
}

.accountInfo button:hover {
  color: #091f43;
  cursor: pointer;
}

/* End of Profile */

/* Change Password */

.changePW {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.password {
  font-family: 'Montserrat';
  width: 40vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px;
}

.btnChangePW {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 170px;
  height: 50px;
}

.btnChangePW:hover {
  color: #091f43;
  cursor: pointer;
}

/* End of Change Password */

/* Login */


