/*
Couleurs Groupomania
#d1515a : Pink
#091f43 : Blue
#dcdcdc : Grey
#fd2d01: Red
#ffd7d7 : lightRed
*/

.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat';
  font-weight: bold;
}

body {
  font-family: 'Montserrat';
  background-color: #dcdcdc;
  margin: 0;
  height: 100%;
}

/* Footer */

.downBar {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #091f43;
  margin-top: 25px;
  position: sticky;
  bottom: 0;
}

.FooterLogo {
  width: 10em;
  height: auto;
  padding-left: 15px;
}

.downBar p {
  padding-right: 15px;
}

/* End of Footer */

/* navBar */

.navbar {
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  width: 100%;
  height: 6vh;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navbarResponsive {
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  width: 100%;
  height: 6vh;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  padding-top: 9px;
  padding-bottom: 9px;
}

.logoNavBar {
  width: 8vh;
}

.navbarResponsive .logoNavBar {
  width: 5vh;
}

.navbarResponsive label {
  color: red;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
}

.navbarResponsive .linksResponsive {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.navbar a:hover {
  color: #d1515a;
  cursor: pointer;
}

.navbarResponsive a {
  text-decoration: none;
  font-size: 13px;
  color: black;
}

.navbarResponsive a:hover {
  color: #d1515a;
}

.navbar .loggedInContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 15px;
}

.navbarResponsive .loggedInContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 15px;
}

.loggedInContainer .loginbtn {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 17px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 150px;
  height: 6.3vh;
}

.navbarResponsive .loginbtn {
  width: 110px;
  height: 5.2vh;
  font-size: 12px;
}

.loggedInContainer .loginbtn:hover {
  color: #091f43;
  cursor: pointer;
}

.loggedInContainer .loginbtnPhone {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 6vw;
  height: 6.3vh;
}
/* End of Navbar */

/* Post & Home*/

.middle {
  width: 30vw;
}

.middleResponsive {
  width: 250px;
}

.listofposts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
  width: 100%;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro p {
  text-align: center;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #091f43 
}

.introResponsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introResponsive p {
  text-align: center;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #091f43 
}

.post {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.postResponsive {
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.bodyDesktop {
  background-color: white;
  font-size: 14px;
  font-weight: 400;
}

.image {
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
}

.image .thumbnail {
  width: 25vw;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

.imageResponsive {
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
}

.thumbnailResponsive {
  width: 70vw;
  height: auto;
}

.title {
  background-color: white;
  display: grid;
  place-content: left;
  color: #091f43;
  padding-top: 30px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
}

.title a {
  text-decoration: none;
  color: #091f43;
  font-size: 15px;
}

.title a:hover {
  color: #d1515a
}

.postDesktop {
  width: 40vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  flex: 60%;
  font-weight: 400;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  padding-right: 10px;
}

.bodyResponsive {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.bodyResponsive p {
  padding-left: 15px;
  padding-right: 15px;
}

.bodyDesktop p {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: space-between;
  justify-content: flex-end;
  padding-left: 15px;
  background-color: white;
  color: #091f43;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.commIcon:hover {
  color: #d1515a;
}

.likes:hover {
  color: #d1515a;
}



/* End of Post & Home*/

/* Single Post and Comment */

.singlePostForm {
  height: 90vh;
}

.singlePost {
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 25px;
  background-color: white;
}

.singleBodyDesktop {
  font-weight: 400;
  display: flex;
  gap: 15px;
  background-color: white;
  color: black;
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  padding-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.singleTitleResponsive {
  display: flex;
  width: 50vw;
  color: #091f43;
  padding-top: 30px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
}

.singleBodyResponsive {
  display: flex;
  flex-direction: column;
}

.singleImageResponsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.singleThumbnailResponsive {
  width: 50vw;
}

.singleBodyResponsive p {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.singleBodyDesktop p {
  text-align: left;
  font-size: 18px;
  width: fit-content;
}

.singleImage {
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
}

.singleThumbnail {
  width: 40vw;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

.commentSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.listOfComments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.commentSideResponsive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.listOfCommentsResponsive {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 15px;
  flex-wrap: wrap;
}

.commentSideResponsive label {
  font-size: 12px;
  font-weight: 400;
  color: #091f43;
}

.commentResponsive {
  display: flex;
  flex-direction: column;
}

.commentResponsive button {
  align-self: flex-end;
}

.commentResponsive p {
  background-color: #dcdcdc;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.comment button {
  align-self: center;
}

.singleFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #091f43;
  gap: 15px;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.singleFooter button {
  font-size: 12px;
  width: 120px;
  height: 40px;
}

.smallBtn {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 100px;
  height: 30px;

}

.smallBtn:hover {
  color: #091f43;
  cursor: pointer;
  
}

.commentTitle {
  color: #091f43;
  font-weight: 600;
  border-bottom: 1px solid lightgray;
}

.comment label {
  font-size: 12px;
}

.comment p {
  background-color: #dcdcdc;
  width: fit-content;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1vw;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-top: 1px solid lightgray;
  padding-top: 15px;
}

.commentField {
  background-color: #dcdcdc;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat';
  padding: 10px;
  width: 90%;
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;;
}
/* End of Single Post and Comment */

/* Create Post */

.createPostPage {
  height: 90vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.createPostPage p {
  color: #091f43;
  font-size: 20px;
  font-weight: bold;
}

.inputCreatePost {
  font-family: 'Montserrat';
  width: 50vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px;
} 

.createPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.sendImg {
  font-family: 'Montserrat';
  color:#091f43;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btnCreatePost {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 17px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 150px;
  height: 50px;
}

.btnCreatePost:hover {
  color: #091f43;
  cursor: pointer;
}

/* End of Create Post */

/* Profile */

.basicInfo {
 display: flex;
 flex-direction: column;
}

.basicInfo p {
  font-weight: 500;
}

.accountInfoTitle {
  margin-top: 50px;
}

.accountInfo {
  display: flex;
  gap: 12px;;
}

.accountInfo button {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 155px;
  height: 50px;
}

.accountInfo button:hover {
  color: #091f43;
  cursor: pointer;
}

/* End of Profile */

/* Change Password */

.changePW {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 200px;
  min-height: 90vh;
}

.password {
  font-family: 'Montserrat';
  width: 40vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px;
}

.btnChangePW {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  background-color: #d1515a;
  color: white;
  width: 170px;
  height: 50px;
}

.btnChangePW:hover {
  color: #091f43;
  cursor: pointer;
}

/* End of Change Password */

/* Login */


